{% extends "bootstrap/base.html" %}

{%from "bootstrap/pagination.html" import render_pagination %}
{% from "bootstrap/utils.html" import flashed_messages %}
{%from "bootstrap/wtf.html" import quick_form %}

{% block title %}The Huge List{% endblock %}

{% block content %}
<h1 class="text-center">The Huge List</h1>

<div class="container">
    <div class="btn-group">
        <a href="{{url_for('index')}}" class="btn btn-primary btn-md" role="button">Start</a>
        <a href="{{url_for('show_user', _id=current_user._id)}}" class="btn btn-primary btn-md" role="button">Profile</a>
        <a href="{{url_for('logout')}}" class="btn btn-primary btn-md" role="button">Logout</a>
    </div>
</div>

{{flashed_messages(container=True)}}

<div class="container">
    <br>
    {{quick_form(filter_form)}}
    <br>
    {{render_pagination(**pagination_kwargs)}}
    <br>
    {{table}}
    <br>
    {{render_pagination(**pagination_kwargs)}}
</div>

{% endblock %}

<!-- <div class="container">
    <ul class="list-group">
        {% for key in keys %}
        <a href="{{url_for('show_box', _id=key)}}" class="list-group-item">{{key}}</a>
        {% endfor %}
    </ul>
</div> -->